
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('img/nycseagif.mp4');
    background: linear-gradient(rgba(165, 162, 162, 0.7), rgba(84, 80, 80, 0.658)), url("img/nycseagif.mp4");
    color: #fff;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }